In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_excel('F:/SEMESTER 7/dataset_UAS-main/dataset_soal No.1.xls')

In [10]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [11]:
data.shape

(51, 5)

In [12]:
data['Class (buy_computer)'].value_counts()

Yes    29
No     22
Name: Class (buy_computer), dtype: int64

In [33]:
PYes = 29/51
PNo = 22/51

In [34]:
print(PYes)

0.5686274509803921

In [35]:
print(PNo)

0.43137254901960786

In [36]:
pd.crosstab(data['Student'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Student
No                    10   14
Yes                   12   15

In [37]:
PNoStudentNo = 10/22
PYesStudentNo = 12/22

PNoStudentYes = 14/29
PYesStudentYes = 15/29

PNoStudent = 24/51
PYesStudent = 27/51

In [38]:
pd.crosstab(data['Credit_rating'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Credit_rating
Excellent              8   12
Fair                  14   17

In [39]:
PExcellentNo = 8/22
PFairNo = 14/22

PExcelentYes = 12/29
PFairYes = 17/29

PExcelent = 20/51
PFair = 31/51

In [40]:
pd.crosstab(data['Age'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Age
31..40                 4   10
<= 30                 10   10
> 40                   8    9

In [41]:
P31_40No = 4/14
PKur30No = 10/20
PLeb40No = 8/17

P31_40Yes = 10/14
PKur30Yes = 10/20
PLeb40Yes= 9/17

P31_40 = 14/51
PKur30 = 20/51
PLeb40 = 17/51

In [42]:
pd.crosstab(data['Income'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Income
High                   6    5
Low                   11   10
Medium                 5   14

In [43]:
PHighNo = 6/11
PLowNo = 11/21
PMediumNo = 5/19

PHighYes = 5/11
PLowYes = 10/21
PMediumYes = 14/19

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

In [44]:
pd.crosstab(data['Student'], data['Income'])

Income   High  Low  Medium
Student
No          9    1      14
Yes         2   20       5

In [45]:
PNoStudentHigh = 9/24
PNoStudentLow = 1/24
PNoStudentMedium = 14/24

PYesStudentHigh = 2/27
PYesStudentLow = 20/27
PYesStudentMedium = 5/27

PNoStudent = 24/51
PYesStudent = 27/51

In [46]:
pd.crosstab(data['Age'], data['Income'])

Income  High  Low  Medium
Age
31..40     5    5       4
<= 30      6    6       8
> 40       0   10       7

In [47]:
P31_40High = 5/14
P31_40Low = 5/14
P31_40Medium = 4/14

PKur30High = 6/20
PKur30Low = 6/20
PKur30Medium = 8/20

PLeb40High = 0/17
PLeb40Low = 10/17
PLeb40Medium = 7/17

P31_40 = 14/51
PKur30 = 20/51
PLeb40 = 17/51

In [48]:
pd.crosstab(data['Credit_rating'], data['Income'])

Income         High  Low  Medium
Credit_rating
Excellent         5    8       7
Fair              6   13      12

In [49]:
PExcellentHigh = 5/20
PExcellentLow = 8/20
PExcellentMedium = 7/20

PFairHigh = 6/31
PFairLow = 13/31
PFairMedium = 12/31

PExcelent = 20/51
PFair = 31/51

In [50]:
pd.crosstab(data['Student'], data['Credit_rating'])

Credit_rating  Excellent  Fair
Student
No                     8    16
Yes                   12    15

In [51]:
PNoStudentExcellent = 8/24
PNoStudentFair = 16/24

PYesStudentExcellent = 12/27
PYesStudentFair = 15/27

PNoStudent = 24/51
PYesStudent = 27/51

In [52]:
# Student Yes | Income Low
print(PYesStudentLow)

0.7407407407407407

In [53]:
# Kondisi B dimana
# Student = Yes
# Income =  Low
# P(A) = Buy = PYes
# P(B) = PYesStudent, PLow
# P(B|A)1 = (PYesStudent|Buy) = PYesStudentYes
# P(B|A)2 = (PLow|Buy) = PLowYes
# P(B) = PYesStudent
# P(B) = PLow

#ditanyakan P(A|B) ?
#Rumus -> P(A|B) = P(B|A)*P(A)/P(B)

PBuy = ((PYesStudentYes*PLowYes)*PYes)/(PYesStudent*PLow)
print(PBuy)

0.6424792139077854